@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css2?family=Eczar);
// SASS variables
$maincolor: #412234;
$background: #bdd9bf;
$accentcolor: #ffc857;
$white: #f7f7f7;
$black: #2e4052;

body {
    margin: 0;
    /* background: linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%); */
    background: $background;
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#toggle {
    width: 300px;
    height: 5rem;
    margin: 20px;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background: linear-gradient(
        to right,
        #a2ccb6 0%,
        #fceeb5 50%,
        #ee786e 100%
    );
    background-size: 500%;
    font-size: 1.5em;
    transition: 0.2s ease;
    color: $white;
    cursor: pointer;
}

#display {
    width: 22vw;
    height: 80vh;
    background: $white;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.photo {
    display: flex;
    align-content: center;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
    background-size: cover;
    margin: 0 0 10px 0;
    height: 128px;
    width: 128px;
}

.name {
    color: $maincolor;
    margin: 5px 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.email {
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1.5rem 0;
    font-weight: bolder;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1.25em;
}

.title {
    color: $maincolor;
}

.title-alt {
    color: $white;
}

#card-container {
    position: relative;
    width: 500px;
}

.card {
    background-color: transparent;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 500px;
    height: 300px;
    transition: transform 0.2s ease;
    perspective: 1000px;
    cursor: pointer;
}

.card.front,
.card.back {
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card.front {
    background: $white;
}

.card.back {
    transform: rotateY(-180deg);
    background-color: $maincolor;
    color: $white;
}

.details {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.details > span {
    margin: 10px 20px;
}

#tooltip {
    margin-top: 6em;
    color: $black;
    font-family: "Eczar";
    text-align: center;
}

h1 {
    color: $black;
    font-weight: 900;
    font-family: "Eczar";
    text-align: center;
    font-size: 5em;
    margin: 0;
}

.decorated {
    text-decoration: underline;
    text-decoration-color: $accentcolor;
    text-decoration-style: dotted;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.2em;
    font-weight: bolder;
    cursor: pointer;
}
