@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
    margin: 0;
    /* background: linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%); */
    background: #ffecd9;
    font: Raleway, sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: center;
}

#toggle {
    width: 300px;
    height: 5rem;
    margin: 20px;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    background: linear-gradient(to right,#a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
    background-size: 500%;
    font-size: 1.5em;
    transition: 0.2s ease;
    color: white;
}

#display {
    width: 90vw;
    height: 80vh;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
